body {
    margin: 0;
    padding: 0;

    font-family: Tahoma, Arial, Helvetica, sans-serif;

    background-color: #232d33;
    color: white;
}

.heading-logo {
    padding: 20px 20px 40px;
    font-size: 24px;
}

.main-content {
}

/* Fix bootstrap elements */
.modal-backdrop {
    bottom: 0;
}

.tooltip {
    opacity: 1 !important;
    margin-right: 0;
}
    .tooltip-inner {
        width: 220px;
        max-width: 220px;
        padding: 15px 15px 1px;
        border-radius: 0;

        text-align: left;
    }