html {
    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;

    font-family: Tahoma, Arial, Helvetica, sans-serif;

    background-color: #232d33;
    color: #e9ffff;
    font-size: 1rem;
}

a {
    color: #4c98ae;
}
a:hover, a:active, a:visited {
    color: #4c98ae;
    text-decoration: none;
}
a:hover {
    color: #5bb6d1;
}

.heading-logo {
    padding: 25px;
    font-size: 2rem;
}

.main-content {
}

/* Fix bootstrap elements */
.modal-backdrop {
    bottom: 0;
}

.tooltip {
    opacity: 1 !important;
    margin-right: 0;
    font-size: 1em;
}
    .tooltip-inner {
        width: 280px;
        max-width: 280px;
        padding: 15px 15px 1px;
        border-radius: 0;

        text-align: left;
    }
    .tooltip-inner p {
        margin: 0 0 14px;
    }