<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-lg modal-dialog" ng-controller="DownloadController">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="modal-close fa fa-times" ng-click="$hide()"></div>
                <h4 class="modal-title">{{release.title}} ({{release.year}})</h4>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="download-site" ng-click="showSite(0)"><i class="fa fa-cloud-download"></i> kickass</div>
                <div class="download-site" ng-click="showSite(1)"><i class="fa fa-cloud-download"></i> extra torrent</div>
                <div class="download-site" ng-click="showSite(2)"><i class="fa fa-cloud-download"></i> dognzb</div>
                <div class="download-site" ng-click="showSite(3)"><i class="fa fa-cloud-download"></i> nzb club</div>
                <div class="download-release-name">{{release.name}}</div>
                <div class="clear"></div>

                <iframe ng-show="shownSite == 0" class="download-iframe" ng-src="{{trustSrc(kickassSearchUrl)}}"> </iframe>
                <iframe ng-show="shownSite == 1" class="download-iframe" ng-src="{{trustSrc(extraTorrentUrl)}}"> </iframe>
                <iframe ng-show="shownSite == 2" class="download-iframe" ng-src="{{trustSrc(dogNzbUrl)}}"> </iframe>
                <iframe ng-show="shownSite == 3" class="download-iframe" ng-src="{{trustSrc(nzbClubUrl)}}"> </iframe>
            </div>
        </div>
    </div>
</div>
