.movie-list {
    text-align: center;
}

.movie {
    position: relative;
    display: inline-block;
    width: 460px;
    height: 260px;

    margin: 7px;

    text-align: left;
    vertical-align: top;

    background-color: #30414A;
    /*transition: background-color 0.5s;*/
}
    .movie:hover {
        background-color: #435C6B;
        transition: background-color 0.5s;
    }

    .movie-loading {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        padding-left: 185px;

        font-size: 2rem;
    }

    .movie-container-left {
        position: relative;
        float: left;
        margin-right: 20px;

        cursor: pointer;
    }
        .movie-poster {
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position-x: center;

            width: 165px;
            height: 260px;
            transition: all 0.5s;
        }
            .movie-container-left:hover .movie-poster {
                opacity: 0.5;
                transition: all 0.5s;
            }
            .movie-poster-none {
                background-image: url("../../../assets/poster.png");
                opacity: 0.8;
            }

        .movie-trailer-button {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;

            font-size: 1em;
            transition: all 0.3s;
        }
            .movie:hover .movie-trailer-button {
                visibility: visible;
                opacity: 0.5;

                font-size: 4em;
                transition: all 0.3s;
            }
            .movie-container-left:hover .movie-trailer-button {
                opacity: 1;
                font-size: 5em;
                transition: all 0.3s;
            }

    .movie-container-right {
        margin: 20px;
    }
    .movie-title {
        font-size: 1.4rem;
    }

    .movie-info {
        margin-bottom: 10px;
    }

    .movie-plot {
    }

    .movie-ratings {
        position: absolute;
        bottom: 20px;
        left: 185px;
    }

    .movie-rating {
        float: left;

        width: 60px;
        height: 25px;
        line-height: 25px;

        border-radius: 25px 0;
        text-align: center;
        color: black;
        opacity: 0.8;
    }
        .movie-rating:hover, .movie-rating:active, .movie-rating:visited, .movie-rating:link {
            text-decoration: none;
            color: black;
        }
        .rating-green {
            background-color: #AAFFAA;
        }
        .rating-orange {
            background-color: #FFFFAA;
        }
        .rating-red {
            background-color: #FFAAAA;
        }

    .movie-quality {
        position: absolute;
        bottom: 20px;
        right: 20px;

        line-height: 25px;
        cursor: pointer;
        transition: all 0.5s;
    }
        .movie-quality:hover {
            color: #5bb6d1;
            transition: all 0.5s;
        }

    .movie-trailer-container {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        display: none;

        background-color: #000000;
    }
        .movie-trailer {
            width: 100%;
            height: 100%;
        }

        .movie-trailer-header {
            position: absolute;
            top: 0; left: 0;
            visibility: hidden;
            padding: 10px;

            width: 100%;
            opacity: 0;
            background-color: #000000;
            transition: all 0.5s;
        }
            .movie-trailer-container:hover .movie-trailer-header {
                visibility: visible;
                opacity: 1;
                transition: all 0.5s;
            }

            .movie-trailer-title {
                float: left;
                font-size: 1.4rem;
            }

            .movie-trailer-close {
                float: right;
                cursor: pointer;

                font-size: 2em;
                transition: all 0.5s;
            }
                .movie-trailer-close:hover {
                    color: red;
                    transition: all 0.5s;
                }

.download-site {
    float: left;
    padding: 0 10px;
    height: 25px;

    line-height: 25px;
    font-size: 1.1rem;

    cursor: pointer;
    transition: all 0.5s;
}
    .download-site:hover {
        color: #5bb6d1;
        transition: all 0.5s;
    }

.download-release-name {
    float: right;
}

.download-iframe {
    width: 100%;
    height: calc(100% - 35px);

    margin-top: 10px;

    border: 0;
    background-color: #ffffff;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.genre-list {
    margin: 25px;
    text-align: center;
}

    .genre {
        display: inline-block;
        margin: 5px;
        padding: 5px;

        width: 120px;

        cursor: pointer;
        background-color: #30414A;
        transition: all 0.5s;
    }
        .genre:hover {
            background-color: #435C6B;
            transition: all 0.5s;
        }

.heading-options {
    float: right;
    margin: 25px;
}
    .selected-genre {
        margin-left: 10px;
        text-align: center;
    }

    .search-input {
        width: 200px;
        padding: 5px;
        margin: 5px;

        border: 0;
        background-color: #30414A;
        text-align: center;
    }