.movie-list {
    text-align: center;
}

.movie {
    position: relative;

    display: inline-block;
    width: 360px;
    height: 200px;

    margin: 5px;
    padding: 15px;

    font-size: 75%;
    text-align: left;
    vertical-align: top;

    background-color: #30414A;
}
    .movie:hover {
        background-color: #435C6B;
    }

    .movie-poster {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position-x: center;

        width: 100px;
        height: 150px;
        margin-right: 10px;
    }
        .movie-poster-none {
            background-image: url("../../../assets/poster.png");
            opacity: 0.8;
        }

    .movie-rating {
        float: left;

        width: 50px;
        height: 20px;
        line-height: 20px;

        text-align: center;
        color: black;
        opacity: 0.8;
    }
        .movie-rating:hover, .movie-rating:active, .movie-rating:visited, .movie-rating:link {
            text-decoration: none;
            color: black;
        }
        .rating-green {
            background-color: #AAFFAA;
        }
        .rating-orange {
            background-color: #FFFFAA;
        }
        .rating-red {
            background-color: #FFAAAA;
        }

    .movie-title {
        font-size: 150%;
    }

    .movie-info {
        margin-bottom: 10px;
    }

    .movie-plot {
    }

    .movie-quality {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }